.Rproj.user
.Rhistory
.RData
.Ruserdata
data/cpue.csv
data/lfreq.csv
data/specimen.csv
data/haul_locs_2025.RDS
data/goa_strata_2025.gpkg
data/haul.csv
data/index.csv
data/species.csv
data/species_names.csv
data/strata.csv